/* Скрытие заголовка и описания */
.service-list li b, .service-list li p  {
    display: none;
}

/* Показать заголовок и описание привязанные к выделенному chekbox */
.service-list input:checked ~ b, .service-list input:checked ~ p  {
  display: block;
}

/* Изменение label привязнанный к выделенному chekbox */
.service-list input:checked ~ label  {
  background-color: #00e676;
}
